header {
    height: 100vh;
    overflow: visible; /* //earlier it as hidden and photo was cropped */
}
header::after{
    content: "";
    display: block;
    clear: both;
}
.header__container {
    /* border: 3px solid white; */
    /* display: grid; */
    text-align: center;
    /* height: 100%; */ /* this helps to keep one component in single page */
    position: relative;
    overflow: visible;
}
/* .header__container > *{
    border: 3px solid white;
} */

/* ++++++++++++++++++++++++++++++++ CTA ++++++++++++++++++++++++ */

/* .cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
} */
/* ++++++++++++++++++++++++++++++++ Header Socials ++++++++++++++++++++++++ */
/* .header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    left: 1;
    bottom: 1rem;
} */

/* ++++++++++++++++++++++++++++++++ BG photo ++++++++++++++++++++++++ */
.me{
    /* border: 3px solid white; */
    background: linear-gradient(var(--color-primary),transparent);
    width: 25rem;
    height: 30rem;
    position: absolute;
    bottom: 0;
    left: calc(50% - 12.5rem); /* since position is absolute */
    margin: 0 auto 0 auto;
    border-radius: 12rem 12rem 0 0;
    overflow: visible;
    padding: 0rem 0.3rem 0.3rem;
    
}
#my-img{
    /* border: 3px solid white; */
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    height: 75%;
    width:75;
}

/* ++++++++++++++++++++++++++++++++ Scroll down ++++++++++++++++++++++++ */





/* =================================MEDIA QUERIES(MEDIUM DEVICES)=============================== */
@media screen and (max-width: 768px) {
    header {
        height: 100vh;
        overflow: visible;
    }
}


/* =================================MEDIA QUERIES(Small DEVICES)=============================== */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
        overflow: visible;
    }
    .header__socials,.scroll__down {
        display: none;
    }
}