navbar .permalinks .navbar__a h4{

    display: inline;
}
navbar .permalinks .navbar__socials h3{
    display: inline;
}
.logo{
    padding:0.1em 1em 0.1em 1em;
}
navbar{
    color: var(--color-bg);
    background: var(--color-primary);
    padding: 0;
    text-align: center;
    font-size: 0.9rem; 
    display: flex; /* 1 */
    justify-content: space-between;
    align-items: center;
    /* border: 0.3em solid var(--color-primary); */
    position: sticky;
      width: 100%;
      top: 0;
      z-index: 1000;
    
}
navbar::after{
    content: "";
    display: none;
    clear:both;
}
.nested-nav{
    display: flex;
    flex-flow: row;
    justify-content: end;
    align-items: center;
 }
.permalinks{
    display: flex;
    flex-direction: row;
    /* flex-wrap: start; *//* 3 */
    padding: 0;
    justify-content: end;/* 2 */
    gap: 0.1rem;
    margin: 0;
 }


.navbar__a{
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 1em;
    font-size: 1rem;
}
.navbar__a:hover{
    color: var(--color-bg);
    background-color: var(--color-white);
    padding: 1em;
    font-size: 1rem;
}
.navbar__a:hover h4{   
    color: var(--color-bg) !important;
}
/*  
 .navbar__socials{
    display: flex;
    flex-flow: row;
    justify-content: end;
    align-items: center;
    gap: 1rem; 
    padding: 0rem 1rem 0rem 0rem;
}
.navbar__socials a{
    padding: 0.2rem 0rem 0rem 0rem;
    color: var(--color-white);
}
.navbar__socials a:hover{
    color: var(--color-bg);
}
.navbar__socials:hover{   
    color: var(--color-white); 
} */
.btn-nav{
    padding: 0.8em !important;
    color: var(--color-bg)!important;
    background-color: var(--color-white);
}
.btn-nav:hover{
    color: var(--color-white)!important;
    background-color: var(--color-bg);
}
.btn-nav:hover h3{
    color: var(--color-bg)!important;
}

nav{
    display: none;
}

/* .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  } */
  

/* =================================MEDIA QUERIES(Small DEVICES)=============================== */
@media only screen and (max-width: 768px) {
    .permalinks {
        display: none;
    }
    nav{
        display: flex;
    }
    navbar{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    
}


