
section#Experience{
    margin-top: 1rem;
    height: 100vh; 
  }
 .experience__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

 }

 .experience__container >div {
    background: var(--color-bg);
    border: 1px solid transparent;
    transition: var(--transition);
}
.experience__container >div:hover {
    background: transparent;
    cursor: default;
} 
.experience__container >div  h3{
    text-align: center;
    padding: 0 1em;
    color: var(--color-white);
}
.experience__container h2{
    text-align: center;
}
.experience__content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: .3rem;
}
.experience__details{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: .5em;
}
.experience__content > article{
    background-color: var(--color-primary);
}
.experience__content > article:hover{
    background-color: var(--color-bg);
}
.experience__details-icon{
    color: var(--color-white);
}

 /* =================================MEDIA QUERIES(MEDIUM DEVICES)=============================== */
 @media screen and (max-width: 1024px) {
    .experience__container{
        grid-template-columns: 1fr;
    }
    .experience__container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .experience__content{
        padding: 1rem;
    }
 }
 
 /* =================================MEDIA QUERIES(Small DEVICES)=============================== */
 @media screen and (max-width: 600px) {
    .experience__container{
        gap: 1rem;
    }
    .experience__container > div{
        width: 100%;
        padding: 2rem 1rem;
    }
 }