.progress {
  background: var(--color-primary-variant);
  align-items: center;
  padding: 0;
  height: 1rem;
  width: 100%;
}
  
  .progress-value {
    animation: load 1s normal forwards;
    background: var(--color-primary);
    height: 1rem;
    width: 0%;
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 90%; }
  }